[Service]
ExecStart=/usr/local/bin/node main.js usb
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=waterrower
User=pi
Group=pi
WorkingDirectory=/home/pi/matthewl1234/waterrower-ble

[Install]
WantedBy=multi-user.target
